/* app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* styles/globals.css */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(255, 255, 255) !important;
  opacity: 1;
  transition: all 0.3s ease;
  margin: 0 6px !important;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #edcf0b !important;
  transform: scale(1.5);
}
